<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Создание заказа</title>
    <style>
        a {
        text-decoration: none;
        color: white;
        }
  </style>
</head>
<body style="background-color: grey;">
<h1>Создание нового заказа</h1>
    <form method="post">
        <label for="customer_name">Название продукта или услуги:</label><br>
        <input type="text" id="customer_name" name="customer_name" required><br>
        <label for="order_details">Описание:</label><br>
        <textarea id="order_details" name="order_details" rows="4" cols="50" required></textarea><br>
        <label for="customer_name">Цена (без пробелов):</label><br>
        <input type="text" id="customer_price" name="price" required><br>
        <button type="submit">Создание заказа</button>
    </form>
<a href="{{ url_for('index') }}" style="float: right;">Назад</a>
</body>
</html>