<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Вход</title>
	<style>
        a {
        text-decoration: none;
        color: white;
        }
  </style>
</head>
<body style="background-color: grey;">
<div class="container" style="text-align: center;">
			<form class="login" method="post">
				<div class="login__field">
					<input type="text" class="login__input" placeholder="Login" style="width: 150px; height: 30px;" name="login">
				</div>
				<div class="login__field" >
					<input type="password" class="login__input" placeholder="Password" style="width: 150px; height: 30px;" name="passwrd">
				</div>
				<button class="button login__submit">
					<span class="button__text" style="width: 150px; height: 30px;">Войти</span>
				</button>
			</form>
</div>
<a href="{{ url_for('index') }}" style="float: right;">Назад</a>
<br>
<a href="{{ url_for('register') }}" style="float: right;">Регистрация</a>
</body>
</html>